<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="" culture="fr-CA" uiCulture="fr-CA" />
  </system.web>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="D:\Projects\APS - Activity pedometer system\Google-Timeline-Analyser\APS\bin\Debug\netcoreapp3.1\Activity Pedometer System.exe" arguments="" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" forwardWindowsAuthToken="false" hostingModel="InProcess" />
  </system.webServer>
</configuration>